{{st.block.doctype}}
<html>
  <head>
    {{st.block.metatags}}
    {{st.block.defaultcss}}
    {{st.block.profilecss}}
    {{st.block.defaultjs}}
    {{st.block.profilejs}}

    <link rel="stylesheet" href="{{stresource.style.css}}">
  </head>
  <body class="{{st.bodyclass.value}} st-inputs-style st-blocks-style">
    {{st.block.header}}

    <div id="sbremit-countdown" style="text-align: center;"></div>
    <div class="st-content">
      {{st.block.messagesdiv}}
      <h2>Order details</h2>
      {{st.block.orderdetailsdiv}}
      <h2>Transaction response</h2>
      {{st.block.transactionresponsediv}}

      <div>
        <button onclick="goToSB()" class="cancel-button">Back to SBRemit</button>
      </div>

    </div>
    {{st.block.footer}}
    <script>

        const countDownDiv = document.querySelector('#sbremit-countdown')

        let duration = 10;
        const countdownInterval = setInterval(() => {
          if (duration <= 0) {
            window.location.href = "{{st.successfulurlredirect.value}}"
            clearInterval(countdownInterval)
            return
          }
          countDownDiv.innerHTML = `You will be redirected to SBRemit in <b style="color: darkseagreen;">${duration}</b> seconds `;
          duration--
        }, 1000)

        function goToSB() {
          window.location.href = "{{st.successfulurlredirect.value}}"
        }

    </script>
  </body>
</html>