@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  background: #F5F7F7;
}
body::-webkit-scrollbar {
    display: none;
}
.grey-txt{
    color: rgb(231, 231, 231);
}
.show{
    display: inline-block!important;
}
.hide{
    display: none!important;
}

.show-hide{
    width: 16px;
    height: 16px;
    position: relative;
    top: -33px;
    left: 90%;
}
.red-txt {
    color: #CF0921!important;
}

.yellow-txt {
    color: #FCD20F!important;
}

.green-txt {
    color: #007B5D!important;
}

.white-txt {
    color: #ffffff!important;
}

.green-bg {
    background: #007B5D!important;
}

.white-bg {
    background: #ffffff!important;
}

@media only screen and (max-width: 780px) { 
    .show-hide{
        top: -25px;
        left: 90%;
    }
}